# Auto detect text files and perform LF normalization
* text=auto

# Do not count data and documentation in repo language stats
frontend/src/Frontend.App/wwwroot/sample-data/* linguist-vendored
frontend/src/Frontend.App/wwwroot/data/* linguist-vendored
docs/* linguist-documentation

# Language detection priority: Prioritize C# and Blazor Razor
*.cs linguist-detectable=true
*.razor linguist-detectable=true
*.html linguist-detectable=false
*.json linguist-detectable=false
*.js linguist-detectable=false
